@page "/updateProfile"

@using FiapHackaton.WebApp.Contracts.Interface
@using FiapHackaton.WebApp.DTO
@using FiapHackaton.WebApp.Models
@using FiapHackaton.WebApp.Services
@using Newtonsoft.Json
@inject LocalStorageService _localStorage
@inject NavigationManager _navMan
@inject IHttpClientFactory ClientFactory

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<div class="col-xl-9">
    <!-- Account details card-->
    <div class="card mb-4">
        <div class="card-header">Account Details</div>
        <div class="card-body">
            <EditForm Model="userDto" OnValidSubmit="HandleRegistration" FormName="loginForm">
                <!-- Form Group (username)-->
               
                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                    <!-- Form Group (first name)-->
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputFirstName">First name</label>
                        <InputText class="form-control" type="text" @bind-Value="userDto!.FirstName" required />

                    </div>
                    <!-- Form Group (last name)-->
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputLastName">Last name</label>
                        <InputText class="form-control" type="text" @bind-Value="userDto!.LastName" required />

                    </div>
                </div>
                <!-- Form Row        -->
                <div class="row gx-3 mb-3">
                    <!-- Form Group (organization name)-->
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputOrgName">Email</label>
                        <InputText class="form-control" type="email" @bind-Value="userDto!.Email" required />

                    </div>
                    <!-- Form Group (location)-->
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputOrgName">Phone #</label>
                        <InputText class="form-control" type="text" @bind-Value="userDto!.PhoneNumber" required />

                    </div>
                </div>
                <!-- Form Group (email address)-->
                @if (UserTypeId == 1)
                {
                    <div class="mb-3">
                        <label class="small mb-1" for="inputOrgName">Speciality/Description</label>
                    <InputText class="form-control" rows="4" type="text" @bind-Value="userDto!.Description" required />
                </div>
                }
                <!-- Form Row-->
                
                <!-- Save changes button-->
                <button class="btn btn-primary" type="submit">Save changes</button>
            </EditForm>
        </div>
    </div>
</div>
@code {
    @inject IAuthRepository _authRepo

    bool IsFields = false;
    [SupplyParameterFromForm]
    public ProfileDto? userDto { get; set; }
    private int UserTypeId = 2;
    private int userID=0;
    protected override void OnInitialized() => userDto ??= new();
    protected override async Task OnInitializedAsync()
    {
        var Id = await _localStorage.GetItemAsync("UserId");
        if (!string.IsNullOrEmpty(Id))
        {
            userID = Convert.ToInt32(Id);
        }
       
        if (userID <= 0)
        {
            _navMan.NavigateTo("/"); // Redirect to the schedules page
            return;
        }
        var value1 = await _localStorage.GetItemAsync("UserTypeId");
        UserTypeId = Convert.ToInt32(value1);
        var clientlocal = ClientFactory.CreateClient("LocalApi");
        var response = await clientlocal.GetAsync("api/UserProfile/" + Convert.ToInt32(userID));
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            userDto = JsonConvert.DeserializeObject<ProfileDto>(content);
        }
    }
    protected async Task HandleRegistration()
    {
       
        var clientlocal = ClientFactory.CreateClient("LocalApi");
        var response = await clientlocal.PostAsJsonAsync("api/UserProfile/Update", userDto);

        if (response.IsSuccessStatusCode)
        {

            _navMan.NavigateTo("/dashboard");
        }
        else
        {
            IsFields = true;
            _navMan.NavigateTo("/");
        }
    }
}