@inherits LayoutComponentBase

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Muhamad Nauval Azhar">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="This is a login page template based on Bootstrap 5">
	<title>App</title>
    <a href="~/css/bootstrap/bootstrap.min.css.map"></a>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/app.css" rel="stylesheet" />
</head>


<body>
        @Body
</body>
</html>
