@using FiapHackaton.WebApp.Services
@inject LocalStorageService _localStorage
@inject NavigationManager _navMan
@inject IHttpClientFactory ClientFactory
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FiapHackaton.WebApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/updateProfile">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Update Profile
            </NavLink>
        </div>
        @if (UserTypeId == 1)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/schedules">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Schedule
                </NavLink>
            </div>
        }
        @if (UserTypeId == 2)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/doctors">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Doctors List
                </NavLink>
            </div>



        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Myappointments">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>My Appointments
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/logout">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Log out
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private int UserTypeId = 2;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override async Task OnInitializedAsync()
    {
        var value = await _localStorage.GetItemAsync("UserTypeId");
        UserTypeId = Convert.ToInt32(value);
    }
}
