@page "/schedules"
@using FiapHackaton.WebUI.Models
@using Newtonsoft.Json
@inject NavigationManager _navMan
@inject IHttpClientFactory ClientFactory

<div class="col-xl-12">

    <div class="card mb-4">
        <div class="card-header">Schedule List  <a href="/createschedule">Add Schedule</a></div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (schedules.Any())
                    {
                        foreach (var schedule in schedules)
                        {
                           <tr>
                                <td>@schedule.DayOfWeek</td>
                                <td>@schedule.StartTime</td>
                                <td>@schedule.EndTime</td>
                                <td>
                                    <button class="btn btn-sm btn-danger" @onclick="() => DeleteSchedule(schedule.ScheduleID)">Delete</button>
                                    <button class="btn btn-sm btn-success" @onclick="() => EditSchedule(schedule.ScheduleID)">  Edit</button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                       
                            <tr>
                                <td class="text-center">No record found!</td>
                            </tr>
                      
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@code {
    private List<Schedule> schedules = new List<Schedule>();

    protected override async Task OnInitializedAsync()
    {
        var clientlocal = ClientFactory.CreateClient("LocalApi");
        var response = await clientlocal.GetAsync("api/Schedule/");
        var content = await response.Content.ReadAsStringAsync();
        schedules = JsonConvert.DeserializeObject<List<Schedule>>(content);
       
    }

    private async Task DeleteSchedule(int id)
    {
        await OnInitializedAsync(); // Refresh the list of schedules after deletion
    }
    private async Task EditSchedule(int id)
    {
        await OnInitializedAsync(); // Refresh the list of schedules after deletion
    }
}
